# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

# Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.userprefs
*.DotSettings

# NuGet
*.nupkg
packages/

# Rider
.idea/

# VS Code
.vscode/

# Mac
.DS_Store

# Installer output
installer/Output/
publish-single/
publish-fd/
publish-velopack/
Releases/
artifacts/
DocMasterPro/artifacts/
*.exe
*.pdb

# Temporary files
*.tmp
*.temp
~*
